.text-description{
    white-space: pre;
}

audio-player { 
    width: 98vw;
}

md-slider { 
    width: 98vw; 
}

.controls {
    display: flex; 
    width: 98vw; 
    height: 5em;
}

.controls button{
    border: none;
    flex:1; 
    margin: 0 1em;
    background-color:white;
    font-size: 1.5em;
}

.controls > button > md-icon{
    font-size: 2em;
}

.controls > md-icon {
    display: block;
    font-size: 6em;
    text-align: center;
    cursor: pointer;
}

.controls .play, .controls .pause{
    flex: 3;
}

@media(orientation: portrait){
    .controls{
    }

    .controls > md-icon {
        display: block;
        font-size: 3em;
        text-align: center;
        cursor: pointer;
    }

    .controls > button > md-icon{
        font-size: 1.2em;
    }

    .controls .play, .controls .pause{
        flex: 2;
    }
}